<template>
  <div class="workspace" id="workspace">
      <div class="navigation">
          <ul>
              <li>
                  <a href="#" @click="setActive('welcome')" v-scroll-to="'#welcome-section'"><i id="welcome" class="fa fa-circle"></i></a>
              </li>
              <li>
                  <a href="#" @click="setActive('about')" v-scroll-to="'#about-section'"><i id="about" class="fa fa-circle-o"></i></a>
              </li>
              <li>
                  <a href="#" @click="setActive('todo')" v-scroll-to="'#todo-section'"><i id="todo" class="fa fa-circle-o"></i></a>
              </li>
          </ul>
      </div>
    <div class="jumbotron j-1" id="welcome-section">
        <div class="typography-text">
            <div class="user-name">
                <h1 v-if="userName != ''">Hello {{userName}} !</h1>
                <p v-else>I Dont Recognize You, Wanna Be a Friends ? <span @click="showModalForm(0)" class="link">Yes</span> Or Not Its Okay</p>
            </div>
            <div class="birth-day">
                <p v-if="BirthDay == '' && userName != ''">I don't know how old are you, can you tell me your birthday ? <span @click="showModalForm(1)" class="link">Yes</span> or <span @click="logout" class="link">Logout</span></p>
                <p v-else><span>{{BirthDay | momentBirthday}}</span><span class="logout" @click="logout" v-if="userName != '' && BirthDay != ''"> Not {{userName}}? <span class="link">Logout</span></span></p>
            </div>
            <!-- <p v-else>I Dont Recognize You, Wanna Be a Friends ? <span @click="showModalForm(0)" class="link">Yes</span> Or Not But Its Okay</p>
            <p v-if="BirthDay == '' && userName != ''">I don't know how old are you, can you tell me your birthday ? <span @click="showModalForm(1)" class="link">Yes</span></p>
            <p v-else><span>{{BirthDay | momentBirthday}}</span><span class="logout" @click="logout" v-if="userName != '' && BirthDay != ''">, Not {{userName}}? <span class="link">Logout</span></span></p>
            <small><i>FYI ! Your ToDO List isn't saved at this moment, we working on that, and this page uses cookie</i></small> -->
        </div>
    </div>
    <div class="jumbotron j-2" id="about-section">
        <div class="typography-text">
            <h1 class="t-1">Do not forget something</h1>
            <p class="t-2">
                With this simple app, we keep your list &amp; you can see anytime
            </p>
        </div>
    </div>
      <div class="todo-page" id="todo-section">
        <div class="header-todo-page">
            <h1>Let's Get Started !</h1>
        </div>
        <div class="card-template">
            <div class="col-sm-4" v-for="(items, index) in board" v-bind:key="index">
                <card :BoardTitle="items.name" @delete="deleteCards(index)" @data="fetch" :index="index" :id="items.id" @NewTitle="setTitle"></card>
            </div>
            <div class="new-board" @keyup.enter="addNewBoard(true, title)">
                <div class="input-control" v-if="addBoard">
                    <b-form-input v-model="title"
                                    type="text"
                                    placeholder="Type Board Title.." autofocus></b-form-input>
                    <b-button variant="primary" v-bind:disabled="title == ''" @click="addNewBoard(true, title)">Add</b-button>
                    <b-button variant="danger" @click="addNewBoard(false, false)">Cancel</b-button>
                </div>
                <b-button variant="primary" class="action-button" @click="addNewBoard(true, false)" v-else>Add New Board</b-button>
            </div>
        </div>
        <b-modal ref="NameModal"
                centered
                title="Wanna Be a Friend?"
                @ok="ModalAction('name')"
                @shown="userName = ''" ok-only>
        <form>
            <b-form-input type="text"
                        placeholder="Enter your name.."
                        v-model="userName"></b-form-input>
        </form>
        </b-modal>
        <b-modal ref="AgeModal"
                centered
                v-bind:title="ModalTitle"
                @ok="ModalAction('age')"
                @shown="BirthDay = ''" ok-only>
        <form>
            <date-picker v-model="BirthDay" editable lang="en" :not-after="new Date()"></date-picker>
        </form>
        </b-modal>
        <b-modal ref="errorModal" size="sm" title="Info" ok-only>
            {{errorMsg}}
        </b-modal>
      </div>
  </div>
</template>

<script>
import Card from '@/components/Card'
import moment from 'moment'
import DatePicker from 'vue2-datepicker'

document.title = 'ToDO List By Ichsandit'

export default {
  data: function() {
      return {
          addBoard: false,
          title: '',
          data: [],
          board: [],
          userName: '',
          BirthDay: '',
          errorMsg: '',
          ModalTitle: ''
      }
  },
  components: {
      'card': Card,
      DatePicker
  },
  methods: {
      addNewBoard: function(open, title) {
          if(open) {
              if(title) {
                  this.Proc(title, false)
              } else {
                this.addBoard = true
              }
          } else {
              this.addBoard = false
          }
      },
      Proc: function(title, data) {
          this.board.push({id: 'board'+(this.data.length+1), name: this.title })
          this.addBoard = false
          this.title = ''
      },
      deleteCards: function(index) {
          this.board.splice(index, 1)
          this.data.splice(index, 1)
      },
      fetch (data, index) {
          this.data.push({board: this.board[index], task: data})
      },
      showModalForm (index, msg = '') {
          if (msg != '') {
              this.errorMsg = msg
          }
          switch (index) {
            case 0:
                this.$refs.NameModal.show()
                break
            case 1:
                this.$refs.AgeModal.show()
                break
            case 2:
                if (this.userName != '') {
                    this.$refs.errorModal.show()
                    this.showModalForm(1)
                } else {
                    this.$refs.errorModal.show()
                    this.showModalForm(0)
                }
                break
          }
      },
      ModalAction (action) {
          if (action == 'name') {
            if (this.userName == '') {
              this.showModalForm(2, 'Name Cannot Be Empty !')
            } else {
              this.$cookie.set('ZCusername', this.userName, 1)
              this.ModalTitle = 'Hi '+this.userName+', When Your BirthDay ?'
              this.showModalForm(1)
            }
          } else {
            if (this.BirthDay == '') {
              this.showModalForm(2, 'Date Cannot Be Empty !')
            } else {
              this.$cookie.set('ZCuserdob', this.BirthDay, 1)
            }
          }
      },
      logout () {
          this.$cookie.delete('ZCusername')
          this.$cookie.delete('ZCuserdob')
          window.location.reload()
      },
      setActive (id) {
        $(".fa-circle").removeClass("fa-circle").addClass("fa-circle-o")
        $("#"+id).removeClass("fa-circle-o").addClass("fa-circle")
      },
      setTitle (title, index) {
          this.board[index].name = title
      }
  },
  mounted () {
    if (this.$cookie.get('ZCusername') != undefined && this.$cookie.get('ZCuserdob') != undefined) {
        this.userName = this.$cookie.get('ZCusername')
        this.BirthDay = this.$cookie.get('ZCuserdob')
    } else {
        if (this.$cookie.get('ZCusername') == undefined) {
            this.showModalForm(0)
        } else if (this.$cookie.get('ZCuserdob') == undefined) {
            this.userName = this.$cookie.get('ZCusername')
            this.ModalAction('name')
        }
    }
    this.$scrollTo('#welcome-section')
  },
  filters: {
      momentBirthday (date) {
        var age = moment().diff(moment(date), 'years')
        var compare = moment(date).add(age, 'years')
        if (compare.format('DD/MM/YYYY') == moment().format('DD/MM/YYYY')) {
            if (age == 17) {
                return 'Happy Sweet Seventeen !!'
            } else if (age != 0) {
                return 'Happy Birthday Now You Are '+age+' Years Old !'
            } else {
                return 'Happy Birthday !!'
            }
        } else if (moment(date).fromNow() != 'Invalid date' && age != 0 && moment() < moment(date)) {
            return 'Youre Birthday Is: '+moment(date).format('DD/MM/YYYY')+'('+age+' Years Old) And '+moment(date).add(age, 'years').diff(moment(), 'days')+' Days Until Next Birthday,'
        } else if (moment(date).fromNow() != 'Invalid date' && age != 0 && moment() > moment(date)) {
            return 'Youre Birthday Is: '+moment(date).format('DD/MM/YYYY')+'('+age+' Years Old) And '+moment(date).add(age + 1, 'years').diff(moment(), 'days')+' Days Until Next Birthday,'
        } else if (moment(date).fromNow() != 'Invalid date') {
            return 'Youre Birthday Is: '+moment(date).format('DD/MM/YYYY')+' And '+moment(date).add(age, 'years').diff(moment(), 'days')+' Days Until Next Birthday,'
        }
      }
  }
}
</script>

<style scoped>
@media screen and (max-width: 600px) {
    .j-1 {
        padding-top: 0;
    }
    .j-2 .typography-text .t-1 {
        margin-left: 0;
    }
    .j-2 .typography-text .t-2 {
        display: none;
    }
    .navigation, .navigation ul {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .navigation, .navigation ul {
        top: 42%;
    }
}

.workspace {
    height: 100%;
    background: linear-gradient(57deg, #fbc531, #8505fd);
    background-size: 400% 400%;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
}
.todo-page {
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}
.todo-page .header-todo-page {
    color: #f5f6fa;
    font-family: 'Cairo', sans-serif;
    padding-top: 4.5%;
}
.card-template {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.jumbotron {
    color: #ecf0f1;
    border-radius: 0;
}
.j-1 {
    height: 100vh;
    padding-top: 45vh;
    background-color: #34495e;
    margin-bottom: 0;
}
.j-1 .typography-text .user-name {
    font-family: 'Cairo', sans-serif;
}
.j-2 {
    height: 120vh;
    background-color: #fbc531;
}
.j-2 .typography-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #34495e;
    font-family: 'Cairo', sans-serif;
}
.j-2 .typography-text .t-1 {
    margin-top: 30vh;
    margin-right: 30%;
    width: 40px;
    height: 60px;
}
.j-2 .typography-text .t-2 {
    margin-top: 30vh;
    width: 160px;
    font-size: 23px;
}
.link {
    color: #f39c12;
    cursor: pointer;
}
.new-board {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
}
.input-control {
    display: flex;
    margin: 0px 0px;
    width: 90%;
}
.input-control * {
    margin: 0 2.5px;
    margin-bottom: 15px;
}
.action-button {
    float: left;
    margin: 0 2.5px;
    margin-bottom: 15px;
}
.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    margin-right: 20px;
    z-index: 999;
}
.navigation ul {
    list-style-type: none;
}
.navigation ul li a {
    color: #f5f6fa;
}
@-webkit-keyframes gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes gradient { 
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
</style>
