<template>
<div>
  <div class="cards">
        <div class="title">
          <h3 v-if="editTitle == false" @click="Edit('title', 'toggle')">{{BoardTitle}}</h3> <input type="text" ref="InputEditTitle" @keyup.enter="Edit('title', 'edit')" @blur="Edit('title', 'edit')" v-model="BoardTitle" v-else>
          <div id="tools">
            <i class="fa fa-ellipsis-v"></i>
            <div class="dropdown">
            <ul>
              <li @click="Edit('title', 'toggle')"><span>Edit</span></li>
              <li @click="Delete(false, 'cards')"><span>Delete</span></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="task" v-for="(item, index) in data" v-bind:key="index">
            <p v-if="dataVisible[index].show == false" @click="Edit('task', 'toggle', index)">{{item.name}}</p> <input type="text" v-model="item.name" @blur="Edit('task', 'edit', index)" @keyup.enter="Edit('task', 'edit', index)" v-else>
            <div id="tools">
              <i class="fa fa-ellipsis-v" id="task-tools"></i>
              <div class="dropdown">
                <ul>
                  <li @click="Edit('task', 'toggle', index)"><span>Edit</span></li>
                  <li @click="Delete(index, 'task')"><span>Delete</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="add-new" v-if="addTask" @keyup.enter="addNew(taskName, true)">
            <div class="input-control">
                <b-form-textarea placeholder="Type Something.." :rows="3" v-model="taskName"></b-form-textarea>
            </div>
            <b-button type="button" class="action-button" size="sm" variant="primary" v-bind:disabled="taskName == ''" @click="addNew(taskName, true)">Add</b-button>
            <b-button type="button" class="action-button" size="sm" variant="danger" @click="addTask = false">Cancel</b-button>
        </div>
        <div class="add-new-task" @click="addTask = !addTask" v-else>
            <span>Add New Task</span>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
      dataVisible: [],
      taskName: '',
      addTask: false,
      editTask: false,
      editTitle: false
    };
  },
  methods: {
    addNew: function(contentName, show) {
      this.data.push({id: 'task'+(this.data.length+1), board_id: this.id, name: this.taskName})
      this.dataVisible.push({show: false, new: ''})
      this.taskName = ''
      this.addTask = false
    },
    Delete: function(index, comp) {
      if (comp == 'task') {
        this.data.splice(index, 1)
        this.dataVisible.splice(index, 1)
      } else {
        this.$emit('delete')
      }
    },
    Edit (target, mode, index = '') {
      if (mode == 'toggle') {
        if (target == 'title') {
          this.editTitle = !this.editTitle
          this.$nextTick(() => this.$refs.InputEditTitle.focus())
        } else {
          this.dataVisible[index].show = !this.dataVisible[index].show
        }
      } else {
        if (target == 'title') {
          this.$emit('NewTitle', this.BoardTitle, this.index)
          this.editTitle = false
        } else {
          this.dataVisible[index].show = false
        }
      }
    }
  },
  mounted () {
    this.$emit('data', this.data, this.index)
  },
  props: ['BoardTitle', 'id', 'index']
}
</script>


<style scoped>
textarea {
  resize: none;
}
a {
    text-decoration: none;
    color: #f1f2ef;
}
.marked {
  text-decoration: line-through;
}
.cards {
  display: flex;
  flex-direction: column;
  background-color: #f39c12;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 15px;
  border-radius: 2px;
  max-width: 420px;
  position: relative;
  height: auto;
  transition: box-shadow 0.5s ease;
}
.cards:hover {
  -webkit-box-shadow: -1px 2px 42px -4px rgba(13,13,13,0.66);
  -moz-box-shadow: -1px 2px 42px -4px rgba(13,13,13,0.66);
  box-shadow: -1px 2px 42px -4px rgba(13,13,13,0.66);
}
.cards .title {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  text-align: left;
  padding: 5px 0 10px 0;
  color: #fefffc;
}
.cards .title h3 {
  width: 90%;
  margin: auto auto;
  margin-left: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}
.cards .title input {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  margin-right: auto;
  border: 0;
  color: #fefffc;
  background-color: transparent;
}
i {
  margin: auto 0 auto 0;
  float: right;
  font-size: 20px;
}
.dropdown {
  color: #fefffc;
  display: none;
  position: absolute;
  z-index: 555;
  background-color: #0e1838;
  margin-top: 2.5%;
  margin-left: 1.5%;
}
.dropdown ul {
  width: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dropdown ul li {
  text-align: left;
  font-size: 23px;
  padding: auto;
  padding-bottom: 6px;
  cursor: pointer;
}
.dropdown ul li:hover {
  background-color: snow;
  color: #0e1838;
}
.dropdown ul li span {
  margin-left: 12px;
  font-size: 13px;
}
#tools:hover .dropdown {
  display: block;
}
#tools {
  margin: auto;
  width: 15px;
  cursor: pointer;
}
#task-tools {
  font-size: 15px;
}
.cards .content {
    display: flex;
    flex-direction: column;
}
.cards .content input {
  padding-left: 10px;
  width: 100%;
  border: 0;
  background-color: transparent;
}
.cards .content .task {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background-color: #fefffc;
  margin: 1.5% 0;
}
.cards .content .task p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
  font-size: 13px;
  margin: 0;
  padding: 1% 10px;
  font-family: "Nanum Gothic", sans-serif;
  width: 93%;
}
.cards .content .task i {
  cursor: pointer;
  width: 16px;
  float: right;
  margin: auto auto;
}
.cards .add-new {
  display: block;
}
.action-button {
    float: left;
    margin: 0 2.5px;
}
.cards .add-new-task {
    cursor: pointer;
    margin-top: 2.5px;
    padding: 1.5%;
    border-radius: 4px;
    text-align: center;
    background-color: #c66713;
    display: block;
}
.cards .add-new-task span {
    color: #f1f2ef;
}
.cards .add-new .input-control {
  margin: 10px 0px;
}
.add-new-board {
  display: block;
  position: relative;
  margin: 30px 10px;
}
</style>
